# Server
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug
SERVICE_NAME=gateway

# Security
ALLOWED_ORIGINS=http://localhost:80
ENABLE_SWAGGER=true

# Notification API
NOTIFICATION_API_URL=http://notification-api:3001

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100
